<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style_articles_page.css">
    <title>Articles</title>
</head>
<body background="/images/background_1.png">
    <header class="header">
        <div class="header-text">
            <a href="/html/articles_page.html" class="header-main">
                ProgrammersHub
            </a>
            <a href="/html/articles_page.html" class="header-menu">
                Articles
            </a>
            <a href="/html/news_page.html" class="header-menu">
                News
            </a>
            <a href="/html/about_us_page.html" class="header-menu">
                About us
            </a>
            <a href="/html/account_page.html" class="header-menu">
                My account
            </a>
        </div>
    </header>
    <div class="main-text">
        Articles
    </div>
    <div class="content">
        <img src="/images/image_2.png" class="content-img">
        <h2 class="content-name">
            Article name
        </h2>
        <h4 class="content-describe">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit eligendi minima autem! Rerum tempora cum explicabo aperiam modi eaque cumque praesentium nostrum voluptas numquam illo sequi a doloremque, libero aliquid?
        </h4>
        <a href="#" class="content-href">
            Read more...
        </a>
    </div>
    <footer class="footer">
        <h1 class="footer-main-text">
            ProgrammersHub
        </h1>
        <h2 class="footer-slogan">
            It is easier to invent the future than to predict it.
        </h2>
        <h3 class="footer-copyright">
            Copyright 2022
        </h3>
    </footer>
</body>
</html>