<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_main_page.css' %}">
    <title>Main page</title>
</head>
<body background="{% static 'images/background_1.png' %}">
    <div class="text-box">
        <div class="text-box-main">
            What is ProgrammersHub
        </div>
        <div class="text-box-second">
            ProgrammersHub is a place where you can find<br>many interesting articles and features about<br>programming languages.
        </div>
        <div class="text-box-buttons">
            <a href="/register/" class="button">
                Register
            </a>
            <a href="/login/" class="button">
                Login
            </a>
        </div>
        <a href="programmers_hub/" style="    text-decoration: none;
    color: var(--text-color);
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
    background-color: #2C2A2A;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 50px;
    font-size: 24px;">
                Login as guest
        </a>
    </div>
    <div class="img-1">
        <img src="{% static 'images/image_1.png' %}">
    </div>
    <footer class="footer">
        <h1 class="footer-main-text">
            ProgrammersHub
        </h1>
        <h2 class="footer-slogan">
            It is easier to invent the future than to predict it.
        </h2>
        <h3 class="footer-copyright">
            Copyright 2022
        </h3>
    </footer>
</body>
</html>