<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_articles_page.css' %}">
    <title>News</title>
</head>
<body  background="{% static 'images/background_1.png' %}">
    <header class="header">
        <div class="header-text">
            <a href="{% url 'articles' %}" class="header-main">
                ProgrammersHub
            </a>
            <a href="{% url 'articles' %}" class="header-menu">
                Articles
            </a>
            <a href="{% url 'news_page' %}" class="header-menu">
                News
            </a>
            <a href="{% url 'about_us' %}" class="header-menu">
                About us
            </a>
            <a href="{% url 'logout' %}" class="header-menu">
                Logout
            </a>
        </div>
    </header>
    <div class="main-text">
        News
    </div>
        <div class="content">
            {% for new in news %}
            <div class="statya">
                <img src="{{ new.img.url }}" class="content-img">
                <h2 class="content-name">
                    {{ new.name }}
                </h2>
                <h4 class="content-describe">
                    {{ new.mini_description }}
                </h4>
                <a href="{% url 'show_new' new.pk %}" class="content-href">
                    Read more...
                </a>
            </div>
            {% endfor %}
        </div>

    <footer class="footer">
        <h1 class="footer-main-text">
            ProgrammersHub
        </h1>
        <h2 class="footer-slogan">
            It is easier to invent the future than to predict it.
        </h2>
        <h3 class="footer-copyright">
            Copyright 2022
        </h3>
    </footer>
</body>
</html>