<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_register_page.css' %}">
    <title>Register page</title>
</head>
<body background="{% static 'images/background_1.png' %}">
    <div class="text-box">
        <div class="text-box-main">
            Join to our community
        </div>
        <div class="text-box-second">
            By joining us, you will start to look at<br>programming a completely<br>different way.
        </div>
        <div class="text-box-form">
            <form action="" method=POST>
                {% csrf_token %}
                <div style="font-size: 24px; line-height: 200%; color: white; border-radius: 100px;">
                    {{ form.as_p }}<br>
                </div>

                <br><br>
                {% if form.errors %}
                    There was an error with your form...
                {% endif %}
                <br><br><br>
                <br><input type="submit" value="Register" class="button">
            </form>
        </div>
    </div>
    <div class="img-1">
        <img src="{% static 'images/image_2.png' %}">
    </div>
    <footer class="footer">
        <h1 class="footer-main-text">
            ProgrammersHub
        </h1>
        <h2 class="footer-slogan">
            It is easier to invent the future than to predict it.
        </h2>
        <h3 class="footer-copyright">
            Copyright 2022
        </h3>
    </footer>
</body>
</html>