<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_article.css' %}">
    <title>{{ news.name }}</title>
</head>
<body  background="{% static 'images/background_1.png' %}">

    <header class="header">
        <div class="header-text">
            <a href="/html/articles_page.html" class="header-main">
                ProgrammersHub
            </a>
            <a href="{% url 'articles' %}" class="header-menu">
                Articles
            </a>
            <a href="/html/news_page.html" class="header-menu">
                News
            </a>
            <a href="/html/about_us_page.html" class="header-menu">
                About us
            </a>
            <a href="{% url 'logout' %}" class="header-menu">
                Logout
            </a>
        </div>
    </header>
    <div class="main-text">
        {{ news.name }}
    </div>
        <div class="content">
                <img src="{{ news.img.url }}" class="content-img">
                <h4 class="content-describe">
                    {{ news.main_article|linebreaks }}
                </h4>
                <a href="{{ news.url }}" class="content-href">
                    Link to full article
                </a>
        </div>

    <footer class="footer">
        <h1 class="footer-main-text">
            ProgrammersHub
        </h1>
        <h2 class="footer-slogan">
            It is easier to invent the future than to predict it.
        </h2>
        <h3 class="footer-copyright">
            Copyright 2022
        </h3>
    </footer>
</body>
</html>